<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.com.security.mapper.RoleMapper">

    <sql id="selectAllProperties">
        select * from sys_role
    </sql>
    <select id="selectRoleById" parameterType="integer" resultType="com.com.com.security.pojo.Role">
        <include refid="selectAllProperties"></include>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
        </where>
    </select>
</mapper>